* {
	margin: 0;
	border: 0;
	padding: 0;
}

h1 {
	font-family: Helvetica;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
}

h2 {
	font-family: Helvetica;
	text-align: center;
	font-size: 30px;
	line-height: 1;
}

ul {
	line-height: 2;
	font-family: Roboto, sans-serif;
	font-weight: lighter;
	margin-top: 60px;
	font-size: 35px;
	text-align: center;
	list-style-type: none;
	padding:0;
}

a {
	transition: 0.3s;
	text-decoration: none;
	color: black;
}

a:hover {
	font-family: 'Alte Haas Grotesk';
	font-size: 45px;
	letter-spacing: 5px;
	color: rebeccapurple;
}

/*May*/

div {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.may div.wrapper {
	background-color:#57a45e;
	overflow: hidden;
}

.may div.first {
	color: #feffed;
	margin: 0px auto;
	padding-top: 80px;
	text-align: center;
	font-size: 10vh;
	line-height: .85;
}

.may div.second {
	border-top: 5px;
	border-top-style: solid;
	border-top-color: #feffed;
	padding-top: 25px;
	width: 33.33vw;
	color: #feffed;
	text-align: center;
	font-size: 10vh;
	line-height: .85;
	padding-bottom: 150px;
	display: inline-block;
}

.may div.third {
	width: 28vw;
	color: #0e2d1b;
	padding-top: 4vh;
	padding-left: 5vw;
	text-align: left;
	font-weight: bolder;
	line-height: 1.1;
	font-size: 0.8vh;
	display: inline-block;
}

.may p.small {
	padding-top: 60px;
	font-size: 0.4vh;
}

.may div.fourth {
	width: 25vw;
	padding-left: 7vw;
	color: #0e2d1b;
	padding-top: 4vh;
	text-align: left;
	font-weight: bolder;
	line-height: 1.1;
	font-size: 0.8vh;
	display: inline-block;
}

.may p.fifth {
	padding-top: 30px;
	font-size: 0.4vh;
}

/*January*/

.poster2 .col {
  float: left; 

  width: 16.66vw; 
  
  height: 25vw;

  text-align: center;
  font-size: 18vw;
  color: #658f9f;
  line-height: 25vw;
  background: #8a2341;
}

.poster2 .row {
  clear: left;
}

.poster2 p {
  line-height: 1.3;
  margin: 0;
  color: white;
}

.poster2 p.smooll{
	line-height: 1.3;
  margin: 0;
  color: white;
  font-size: 0.8vw;
  position: absolute;
  left: 56vw;
  top: 138vw;
  text-align: right;
}

.poster2 p.smoolr{
	line-height: 1.3;
  margin: 0;
  color: white;
  font-size: 0.8vw;
  position: absolute;
  left: 66.64vw;
  top: 138vw;
  text-align: left;
}

.poster2 .para-left {
  font-size: 1.3vw;
  position: absolute;
  left: 52vw;
  top: 110vw;
  text-align: right;
}

.poster2 .para-right {
  font-size: 1.3vw;
  position: absolute;
  left: 66.64vw;
  top: 110vw;
  text-align: left;
}

/*December*/

.december div.coll {
	width: 25vw;
	padding-left: 3vw;
	font-weight: 500;
	font-size: 4.5vw;
	background-color: #f8f7f3;
	position: absolute;
}

.december p.black1 {
	text-align: right;
	color: #22211d;
}

.december p.blue1 {
	text-align: right;
	color: #2e92d0;
}

.december p.blue2 {
	color: #2e92d0;
}

.december p.yellow1 {
	text-align: right;
	color: #dcab32;
}

.december div.collm {
	width: 58vw;
	position: absolute;
	left: 28vw;
	padding-left: 2vw;
	font-weight: 500;
	font-size: 4.5vw;
	background-color: #f8f7f3;
}

.december p.blue3 {
	color: #2e92d0;
}

.december p.yellow2 {
	color: #dcab32;
}

.december div.colrm {
	position: absolute;
	left: 46vw;
	font-weight: 500;
	font-size: 4.5vw;
}

.december p.orange1 {
	text-align: right;
	color: #e65e20;
}

.december p.green1 {
	text-align: right;
	color: #4fa963;
}

.december div.colr {
	position: absolute;
	padding-right: 4vw;
	left: 75vw;
	font-weight: 500;
	font-size: 4.5vw;
	background-color: #f8f7f3;
}

.december p.orange2 {
	color: #e65e20;
}

.december p.orange3 {
	color: #e65e20;
	text-align: right;
}

.december p.green2 {
	text-align: right;
	color: #4fa963;
}

.december div.smallcoll {
	position: absolute;
	top: 9vh;
	left: 65vw;
	text-align: right;
}

.december div.smallcolr {
	position: absolute;
	top: 9vh;
	left: 76vw;
	text-align: left;
}

/*November*/

.november div.coll {
	position: absolute;
	background-color: #dadbd6;
	width: 100vw;
	font-weight: 500;
	font-size: 4.5vw;
	padding-top: 1vh;
	padding-left: 1vw;
}

.november p.bold {
	font-weight: bolder;
}

.november div.colm {
	position: absolute;
	left: 50vw;
	top: 47vh;
	font-weight: 500;
	line-height: 1.4vw;
	font-size: 1.5vw;
	padding-left: 1vw;
	z-index: 1;
}

.november div.colr {
	position: absolute;
	left: 67vw;
	top: 47vh;
	font-weight: 500;
	line-height: 1.4vw;
	font-size: 1.5vw;
	padding-left: 1vw;
	z-index: 1;
}

.november div.scol {
	width: 90px;
	position: absolute;
	left: 51vw;
	padding-top: 13vh;
}

.november div.scol div.grey{
	background-color: #918a8a;
	height: 90px;
}

.november div.scol div.red{
	background-color: #cc0031;
	height: 90px;
}

.november div.blue{
	position: absolute;
	top: 23.5vh;
	left: 22vw;
	height: 90px;
	background-color: #21528f;
	width: 90px;
}

.november div.black1{
	position: absolute;
	top: 23.5vh;
	left: 31vw;
	height: 90px;
	background-color: black;
	width: 90px;
}

.november div.black2{
	position: absolute;
	top: 23.5vh;
	left: 67vw;
	height: 90px;
	background-color: black;
	width: 90px;
}

.november div.yellow{
	position: absolute;
	top: 23.5vh;
	left: 88vw;
	height: 90px;
	background-color: #d7b21f;
	width: 90px;
}