html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  padding: 8px;
}

canvas {
  position: absolute;
  width: 100vw;
  border: 1px solid black;
  background-image: url(https://i.imgur.com/uTqxDiH.jpeg);
}

 video {
  position: absolute;
  z-index: 4;
 }

a img.hover {
    display: none;
}
a img.default {
    display: inherit;
}
a:hover img.hover {
    display: inherit;
}
a:hover img.default {
    display: none;
}

.layer1 {
  position: absolute;
  z-index: 1;
}

.layer2 {
  position: absolute;
  z-index: 1;
}

.link {
  position: relative;
  z-index: 2;
}

.listpoetry {
  position: absolute;
  margin-top: 53vh;
}

.sixcssflags {
  position: absolute;
  margin-top: 99vh;
}

.fourmusicavivaposters {
  position: absolute;
  margin-top: 143vh;
}

.wikizine {
  position: absolute;
  margin-top: 53vh;
  margin-left: 89vw;
}

.dynamichaiku {
  position: absolute;
  margin-top: 99vh;
  margin-left: 89vw;
}

.geometricclock {
  position: absolute;
  margin-top: 143vh;
  margin-left: 89vw;
}
