h1, h2, h3 {
				font-size: 28px;
			}
			h1 {
				font-family:Gotham-Black;
				color:blue;
			}
			h2 {
				font-family:Gotham-Black;
				color:red;
			}
			h3 {
				font-family:Gotham-Black;
				color:rosybrown;
			}
			p {
				color: green;
				font-family:Roboto-Light;
				font-size: 18px;
				line-height: 22px;
				text-align: center;
				letter-spacing: 5px;
				word-spacing: 9px;
			}
			.attribution {
				color:black;
			}
			#finn {
				color:black;
				border-style: solid;
				border-radius: 40px;
				background: orange;
				border-width: 5px;
			}