@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&display=swap');

.flex {
	display: flex;
	margin-top: 10vh;
	margin-left: 20vw;
  position: absolute;
  z-index: 1;
}

.flextwo {
  margin-top: 35vh;
}

.flexthree {
  margin-top: 60vh;
}

body {
  background-color: black;
  height: 3000px;
}

video{
  position: fixed;
  z-index: 0;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%,0);
}

div {
  padding-right: 1vw;
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  color: white;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.imbue-body {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

div:hover {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

